@{
    ViewBag.Title = "NGUYỄN QUANG MẠNH";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài thi giữa kì của Nguyễn quang mạnh - cam kết không đạo văn </h3>

    <address>
       k22cnt1 môn lâp trình ứng dụng 
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:manh56348912.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:manh56348912.com">Marketing@example.com</a>
    </address>
</main>